/* NAV */

nav {
    min-height: 1.7rem;
    background-color: hsl(220, 100%, 54%);
    display: flex;
    flex-grow: 1;
}

.navList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    color: white;
    gap: 1.5rem;
    font-size: 0.9rem;
}

.navList li {
    margin-top: auto;
    margin-bottom: auto;
}

.navList li:nth-of-type(2) {
    margin-left: auto;
}

.navList li:last-of-type {
    margin-right: 1rem;
}

.navList li:first-of-type {
    margin-left: 1rem;
}

.navList li a {
    color: white;
    text-decoration: none;
}

.navList li a:hover {
    color: white;
    text-decoration: underline;
}

.expertButton {
    height: 2.2rem;
    color: white;
    font-weight: bold;
    background-color: hsl(220, 100%, 54%);
    box-shadow: 6px 6px 0 black;
}
.expertButton:active {
    background-color: hsl(220, 100%, 80%);
    box-shadow: 4px 4px lightgrey;
}

/* BANNER */

.banner {
    margin-top: 1.25rem;
    /* min-height: 100px; */
    display: flex;
    flex-grow: 1;
}

.bannerList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    gap: 1.5rem;
    font-size: 0.9rem;
    margin-left: 1.5rem;
}

.bannerList li {
    margin-top: auto;
    margin-bottom: auto;
}

.bannerList li {
    font-weight: bold;
}

.bannerList li:nth-of-type(1) {
    margin-right: 2.5rem;
}

.bannerList li:nth-of-type(7) {
    margin-left: auto;
}

.bannerList li:last-of-type {
    margin-right: 1.5rem;
}

.bannerList li a {
    text-decoration: none;
    color: black;
}


.bannerList li a:visited {
    color: black;
}

.bannerList li a:hover {
    text-decoration: underline;
}
