/*
See:
- https://www.dafontfree.co/downloads/neue-haas-grotesk/
- https://dev.to/annequinkenstein/adding-fonts-to-create-react-app-3ed7
 */
@font-face {
    font-family: "Neue Haas Grotesk";
    src: local("Neue Haas Grotesk"), url("./fonts/NHaasGroteskTXPro-55Rg.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Neue Haas Grotesk";
    src: local("Neue Haas Grotesk-Medium"), url("./fonts/NHaasGroteskTXPro-65Md.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Neue Haas Grotesk";
    src: local("Neue Haas Grotesk-Bold"), url("./fonts/NHaasGroteskTXPro-75Bd.ttf") format("truetype");
    font-weight: bold;
}


body {
    margin: 0;
    font-family: "Neue Haas Grotesk", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
