#footer {
    background-color: hsl(210, 14%, 90%);
}

#footer a:link, #footer a:visited {
    text-decoration: none;
    color: inherit;
}

#footer a:hover {
    color: hsl(220, 100%, 54%);
}

.icons {
    color: white;
    margin: 5px;
}

.contactIcons {
    color: hsl(220, 100%, 54%);
    margin-right: 0.5rem
}

.iconContainer {
    background-color: hsl(220, 100%, 54%);
    width: 26px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#addressContainer {
    display: flex;
    flex-direction: row;
}
#addressContainer > div {
    line-height: 1.1;
}

#brandBar {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 201px; /* same as the logo */
    margin-left: 1.5rem;
}

#footerContent {
    display: flex;
    flex-grow: 1;
    margin-left: 1.5rem;
}

#footerContent div:last-of-type {
    margin-left: auto;
    margin-right: 1.5rem;
}

#footerLogo {
    margin-top: 2rem;
}

#footerInfos {
    display: flex;
}

#footerInfos ul {
    list-style: none;
    gap: 0;
    padding: 0 0 0 1rem;
}

#footerInfos ul li {
    text-align: left;
    font-size: 85%;
    line-height: 2.5;
}

#footerInfos ul li:first-of-type {
    text-align: left;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

#footerInfos ul li:first-of-type::after {
    content:"";
    display: block;
    width: 3rem;
    padding-top: 0.25rem;
    background-color: hsl(223, 100%, 54%);
}

#copy {
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-size: smaller;
    text-align: left;
    color: hsl(209, 12%, 47%);
}

#copy a {
    text-decoration: underline;
    color: hsl(209, 12%, 47%);
}

#copy > div {
    display: flex;
    gap: 2rem;
}

#copy a:visited {
    color: hsl(209, 12%, 47%);
}
