version: "3.9"
services:
  client:
    container_name: shortify_client
    build: ./client
    ports:
      - "5000:5000"

  server:
    container_name: shortify_server
    build: ./server-node
    ports:
      - "5001:5001"
    volumes:
      - ./volumes/db:/app/db
